{% extends 'base.html' %}

{% block title %}Меню{% endblock title %}

{% block content %}
  <!-- Page Header Start -->
  <div class="page-header mb-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Меню</h2>
        </div>
        <div class="col-12">
          <a href="{% url 'home' %}">Домой</a>
          {% for category in categories %}
            <a href="{% url 'menu_list' %}?category={{ category.id }}">{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Menu Start -->
  <div class="menu">
    <div class="container">
      <div class="menu-tab">
        <ul class="nav nav-pills justify-content-center">
          {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link {% if selected_category_id == category.id %}active{% endif %}"
                href="{% url 'menu_list' %}?category={{ category.id }}">{{ category.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for menu_item in menu_items %}
            <div id="{{ menu_item.category.name }}" class="container tab-pane {% if forloop.first %}active{% endif %}">
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{{ menu_item.image.url }}" alt="Image" />
                    </div>
                    <div class="menu-text">
                      <h3>
                        <span>{{ menu_item.name }}</span> <strong>{{ menu_item.price }} сом</strong>
                      </h3>
                      <p class="text-left">{{ menu_item.description }}</p>
                      <br />
                      <p>{{ menu_item.preparation_time }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Menu End -->
{% endblock %}
