{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            
                <img
                src="https://media.cnn.com/api/v1/images/stellar/prod/201222103421-healthyfactor-meals.jpg?q=w_1700,h_956,x_0,y_0,c_fill" alt=""
                class="" style="height: 150px; width: 370px">
            <hr>
            </div>
            <h3 class="alert alert-light rounded-pill" style="text-align:center" >Логин</h3>
            <form action="/login" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="abc@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm" >
                </div>

                <!--Checkme button-->
            <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label d-grid gap-2" for="exampleCheck1">Проверить меня</label>
                </div>
                <hr>
                <button type="submit" class="btn btn-sm btn-success col-lg-12">Логин</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}