{% extends 'base.html' %} {% block title %}Регистрация{% endblock title %}
<p></p>
{% block content %} {% load humanize %} {% load static %}
<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2>Регистрация</h2>
            </div>
            <div class="col-12">
        <a href="{% url 'home' %}">Домой</a>
        <a href="{% url 'signup' %}">Регистрация</a>
    </div>
</div>
</div>
</div>

    <form class="card shadow-sm text-bg-dark" method="post" style="width: 650px; border-radius: 64px; margin: 100px; left: 400px; bottom: 30px"
    enctype="multipart/form-data">
        <div class="img">
            <img src="" alt="">
        </div>
        {% csrf_token %}
        <div class="input-group flex-nowrap" style="margin: 20px; width: 600px;">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" name="username"  class="form-control text-bg-dark" aria-describedby="addon-wrapping" aria-label="Username" placeholder="Username" required>
        </div>

        <div class="input-group mb-3" style="margin: 20px; width: 600px;">
            <span class="input-group-text" id="inputGroup-sizing-default">Пароль</span>
            <input type="password" name="password" class="form-control text-bg-dark" aria-label="Password" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin: 20px; width: 370px; left: 400px;">
            <a href="/" type="button" class="btn btn-outline-danger">Назад</a>
            <button type="submit" class="btn btn-success">Войти</button>
        </div>
    </form>
    </div>
    {% endblock %}
<!-- "username", "password" -->