{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Регистрация</h2>
      </div>
      <div class="col-12">
        <a href="{% url 'home' %}">Домой</a>
        <a href="{% url 'login' %}">Регистрация</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <form class="card shadow-sm text-bg-dark" method="post" style="border-radius: 55px; margin: 100px; bottom: 50px">
        {% csrf_token %}
        <div class="input-group" style="margin: 20px; width: 800px;">
            <span class="input-group-text">Имя & Фамилия</span>
            {{ form.first_name }}
            {{ form.last_name }}
        </div>
        <div class="input-group flex-nowrap" style="margin: 20px; width: 800px;">
            <span class="input-group-text" id="addon-wrapping">@Ник</span>
            {{ form.username }}
        </div>
        <div class="input-group mb-3" style="margin: 20px; width: 800px;">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            {{ form.email }}
        </div>
        <div class="input-group mb-3" style="margin: 20px; width: 800px;">
            <span class="input-group-text" id="inputGroup-sizing-default">Пароль</span>
            {{ form.password }}
        </div>
        <div class="input-group mb-3" style="margin: 20px; width: 800px;">
            <span class="input-group-text" id="inputGroup-sizing-default">Подтвердить пароль</span>
            {{ form.confirm_password }}
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin: 20px; width: 500px">
            <a href="/" type="button" class="btn btn-outline-danger">Назад</a>
            <button type="submit" class="btn btn-success">Регистрация</button>
        </div>
    </form>
</div>
{% endblock %}
